/node_modules
.env.local
/server/node_modules
/server/gallery
/server/history
/server/data
/server/uploads
/dist

# OS
*.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.production
.DS_Store
